// Color palette
$primary-light: #e4d6bc;
$primary-normal: #999482;
$primary-dark: #55594B;

// Player colors
$hungarian-color: #CD2A3E;
$ottoman-color: #009531;

// Additional colors
$white: #ffffff;
$black: #000000;
$shadow-gray: rgb(84, 84, 84);