@use '../../../styles/colors';

.army-card {
  width: 50px;
  background-color: colors.$white;
  color: colors.$black;
  border-radius: 15px;

  img {
    width: 100%;
    height: auto; 
  }

  .strength {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
