@import '../../../../styles/colors';

.menu-container {
  position: fixed;
  border: $primary-dark 5px solid;
  background-color: $primary-light;
  color: $primary-dark;
  width: 100px;
  height: 500px;
  z-index: 3;

  .army-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .army-flag {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .army-name,
  .army-strength {
    color: $black;
    font-size: 20px;
    text-align: center;
  }
}
