@use '../../../../styles/colors';

.menu-container {
  position: fixed;
  border: colors.$primary-normal 5px solid;
  background-color: colors.$primary-light;
  color: colors.$black;
  width: 150px;
  height: 600px;
  z-index: 10;

  .army-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    .army-flag {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .army-name,
    .army-strength {
      text-align: center;
    }
  }

  .battle-info {
    .battle-image {
      width: 80px;
      display: block;
      margin: 5px auto;
    }

    h3 {
      margin: 5px 0;
      font-weight: 500;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .army-section {
      margin-bottom: 20px;

      h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin: 5px 0;
        text-align: center;
        font-weight: 400;
      }

      .battle-flag {
        width: 35px;
        height: auto;
      }

      .battle-army-strength {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }

    .battle-button {
      display: block;
      margin: 0 auto;
      background-color: colors.$primary-dark;
      border: 0;
      color: colors.$primary-light;
      cursor: pointer;

      &:hover {
        background-color: colors.$primary-light;
        color: colors.$primary-dark;
        border: colors.$primary-dark 2px solid;
      }
    }

    .battle-status {
      text-align: center;
      padding: 10px;
      font-style: italic;
      color: colors.$primary-dark;
      margin: 0 auto;
      display: block;
    }

    .battle-result {
      .outcome {
        text-align: center;
        margin: 10px 0;
        font-weight: bold;
        color: colors.$black;
      }

      .losses-section {
        margin: 15px 0;

        .attacker-losses,
        .defender-losses {
          margin-bottom: 15px;

          h4 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            margin: 5px 0;
            text-align: center;
            font-weight: 400;
          }

          .battle-flag {
            width: 35px;
            height: auto;
          }

          .loss-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;

            span {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
