@use '../../../../styles/colors';

.menu-container {
  position: fixed;
  border: colors.$primary-dark 5px solid;
  background-color: colors.$primary-light;
  color: colors.$black;
  width: 150px;
  height: 600px;
  z-index: 3;

  .army-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    .army-flag {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .army-name,
    .army-strength {
      text-align: center;
    }
  }

  .battle-info {
    h3,
    h4 {
      margin: 5px 0;
      text-align: center;
      font-weight: 400;
    }
    h3 {
      font-weight: 500;
      font-size: 30px;
    }

    .army-section {
      margin-bottom: 20px;

      h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
    }

    .battle-army-name,
    .battle-army-strength {
      display: inline-block;
      width: 100%;
    }

    .battle-flag {
      width: 35px;
      height: auto;
    }

    img {
      width: 100%;
    }

    .battle-image {
      width: 80px;
      display: block;
      margin: 5px auto;
    }

    .battle-army-strength {
      text-align: center;
    }

    .battle-result {
      .outcome {
        text-align: center;
        margin: 10px 0;
        font-weight: bold;
        color: colors.$primary-dark;
      }

      .losses-section {
        margin: 15px 0;

        .attacker-losses,
        .defender-losses {
          margin-bottom: 15px;

          h5 {
            margin: 5px 0;
            text-align: center;
          }

          .loss-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;

            span {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
