<div class="map-container">
  <div class="field-container">
    @for (field of fields; track field.id) {
    <div
      class="field"
      [style.left.px]="field.position.x"
      [style.top.px]="field.position.y"
      (click)="onPositionClick(field.id)"
    ></div>
    }
  </div>
  <div class="castle-container">
    @for (castle of castles(); track castle.id) {
    <div
      class="castle"
      [style.left.px]="castle.position.x"
      [style.top.px]="castle.position.y"
      (click)="onPositionClick(castle.id)"
    >
      <div class="owner-flag">
        <img [src]="'images/flags/' + castle.owner + '.png'" alt="army" />
      </div>
    </div>
    }
  </div>
  @for (army of armies(); track army.id) {
  <div
    class="army-container"
    [class.selected]="selectedArmyId() === army.id"
    [style.left.px]="getArmyPosition(army.position, army.id).x"
    [style.top.px]="getArmyPosition(army.position, army.id).y"
    (click)="selectArmy(army.id)"
  >
    <app-army [strength]="army.strength" [owner]="army.owner"></app-army>
  </div>
  }
  
  <!-- Battle indicator -->
  @if (isBattleOngoing()) {
  <div
    class="battle-indicator"
    [style.left.px]="getBattlePosition().x"
    [style.top.px]="getBattlePosition().y"
  >
    <img src="images/battle/crossed-swords.png" alt="battle in progress" class="battle-image" />
  </div>
  }
</div>
